@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to My web</h1>
        <h3><a asp-area="" asp-controller="Home" asp-action="Helper">How to use my api?</a></h3>
        <h3><a asp-area="" asp-controller="Restaurants" asp-action="Index">Query my data</a></h3>
        <h3><a asp-area="" asp-controller="Home" asp-action="Privacy">liaison me</a></h3>
    </div>
