@{
    ViewData["Title"] = "About Me";
}

<div class="card">
    <h1 class="card-header text-center bg-dark text-white">@ViewData["Title"]</h1>
    <div class="card-body">
        <div class="container">
            <h4>Introduction:</h4>
            <div class="card-text container">
                <p style="font-size:20px">
                    Hello, my name is Jheng-Hong Wang.
                    I am a system engineer, and I good at designing server of large scale system, reverse analysing engineering, and system programming.
                    If you have any problems of the website you can email to me, I will give you a reply.
                </p>
            </div>

            <h4 class="card-text">
                E-mail:
                <a href="mailto: workspace2110@gmail.com" class="card-link">workspace2110@gmail.com</a>
            </h4>
        </div>
    </div>
    <div class="card-footer bg-dark text-white"></div>
</div>